@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 3rem
$logo = 10rem
$hover_link_transition = 200ms

// CSS Reset
global-reset()

webfont('C', 'C', true, 'normal')
webfont('CBold', 'CBold', true, 'normal')

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%

body
	line-height 120%
	text-rendering optimizeLegibility
	font-smoothing()
	font-family 'C', 'Helvetica', 'Arial', sans-serif
	font-size 1.4rem
	overflow-x hidden

p
	margin-bottom 1em
	line-height 130%

p:last-child
	margin-bottom 0

h1
	font-size 2rem
	margin-bottom 1.1em
	
h3
	font-size 1.5rem
	font-family 'CBold'

em
	font-size 0.8em

strong
	font-family 'CBold'

img
	display block

::selection
	background $secondary
	
::-moz-selection
	background $secondary

img.lazyimg, .gallery-cell
	transition(opacity 500ms ease)
	opacity 0

img.lazyimg.lazyloaded, img.lazyimg.flickity-lazyloaded, .gallery-cell.flickity-bg-lazyloaded
	opacity 1

.kirby-plugin-oembed--video
	background-color transparent

*
	hideselect()
	box-sizing(border-box)

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary url('../../images/loader.gif') center no-repeat
	background-size 15px
	z-index 10000

trans = transform 600ms ease, height 1s ease

header
	span(1)
	position fixed
	background $primary
	bottom 0
	left 0
	transition(trans)
	transform(translate3d(0,100%,0))
	z-index 1000
	#site-title
		//transition(all, 300ms)
		height $logo
		margin-top (-1 * $logo)
		padding $padding
		display block
		text-align center
		background $primary
		cursor pointer
		a, img
			display inline-block
			height 100%
	nav#projects
		span(1/2, offset: 1/4)
		transition(opacity 800ms ease)
		font-size 1.2rem
		+below($md)
			span(9/10, offset: 0.5/10)
		.cell
			width 100%
			flexbox()
			justify-content center
			flex-direction row
			flex-wrap wrap
			.project-item
				width 17.6%
				text-align center
				border-top 1px solid
				border-bottom 1px solid
				padding 1em 0
				margin 0 1.5%
				display block
				+below($md)
					width 31%
				span
					transition(color $hover_link_transition ease)
			.project-item:hover
				span
					color $accent
			.project-item:first-child
				margin-left 0
			.project-item:nth-child(6n)
				+above($md + 1)
					margin-left 0
			.project-item:nth-child(5n)
				+above($md + 1)
					margin-right 0
			.project-item:nth-child(n+6)
				+above($md + 1)
					margin-top -1px
			.project-item:nth-child(4n)
				+below($md)
					margin-left 0
			.project-item:nth-child(3n)
				+below($md)
					margin-right 0
			.project-item:nth-child(n+3)
				+below($md)
					margin-top -1px
		.flickity-page-dots
			+above($md + 1)
				width auto
				bottom initial
				align(vertical)
				right -30px
			.dot
				width 6px
				height 6px
				margin 0 4px
				+above($md + 1)
					display block
					margin 4px 0
	#contact-link
		span(1)
		transition(opacity 800ms ease)
		text-align center
		padding $padding 0
		a
			display inline-block
			transition(color $hover_link_transition ease)
		a:hover
			color $accent
	#contact-container
		backface()
		transition(all 500ms ease)
		transition-delay(1s)
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		visibility hidden
		opacity 0
		a
			transition(color $hover_link_transition ease)
		a:hover
			color $accent
		a:hover::after
			color $secondary
		.inner
			padding 3% 7% 0
		.row
			span(1)
			.col
				col(1/2, cycle:2)
		#contact-description
			font-size 4.17vw
			text-align center
			margin-bottom 1.5em
			p
				line-height 120%
		#contact-friends
			padding 3em 0 6em
			border-top 1px solid
		#contact-footer
			flexbox()
			align-items flex-end
			#socials
				font-size 1.5rem
				font-family 'CBold'
				a:not(:last-child)::after
					content ' + '
			#credits
				text-align right
		#page-close
			transition(color $hover_link_transition ease)
			position fixed
			bottom 5rem
			left 50%
			font-size 2rem
			margin-left -1.5rem
			cursor pointer
			z-index 50
		#page-close::after
			content '\002715'
		#page-close:hover
			color $accent

// header:not(.opened):hover
// 	#site-title
// 		height $logo*1.1

header.opened
	transform(translate3d(0,0%,0))

#projects-overview
	width 100vw
	height 'calc(100vh - %s)' % $logo
	position fixed
	top 0
	left 0
	backface()
	.flickity-viewport
		transition(filter 1s ease)
	.flickity-viewport, .flickity-slider
		width 100%
		height 100%
	.gallery-cell
		width 100%
		height 100%
		background-size cover
		background-position center
	#mouse-title
		display none
		width 50%
		align()
		position fixed
		top -100%
		left -100%
		z-index 900
		text-align center
		color $primary
		mix-blend-mode difference
		//text-shadow 0 0 3px rgba(0,0,0,0.8)
		font-size 3.5rem
		span
			font-size 1.5rem
			//text-transform uppercase
			display none

#projects-overview:hover
	cursor none
	#mouse-title
		display block

#content-container
	transition(all 1s ease)
	opacity 0
	visibility hidden
	position relative
	min-height 100vh
	background rgba(0,0,0,0.65)
	z-index 950
	color $primary
	backface()
	.inner
		transition(opacity 1s ease)
		opacity 0
		backface()
		#page-close
			transition(color $hover_link_transition ease)
			position fixed
			top 5rem
			left 50%
			font-size 2rem
			margin-left -1.5rem
			cursor pointer
			z-index 50
		#page-close::after
			content '\002715'
		#page-close:hover
			color $accent
		#project-infos
			backface()
			position fixed
			width 25%
			top 5rem
			left 3rem
			z-index 50
		#project-content
			position relative
			transition(opacity 1s ease)
			transition-delay(500ms)
			opacity 0
			width 100%
			height 100vh
			padding 9rem 10% ($logo*2) 10%
			overflow scroll
			.content
				padding 0 1rem
				margin-bottom 4rem
			.w1.midleft
				margin-left 8%
				+below($md)
					margin-left 0
			.w1.center
				margin-left 33%
				+below($md)
					margin-left 0
			.w1.midright
				margin-left 38%
				+below($md)
					margin-left 0
			.w1.right
				margin-left 66.66666666667%
				+below($md)
					margin-left 0
			.w2.midleft
				margin-left 10%
				+below($md)
					margin-left 0
			.w2.center
				margin-left 25%
				+below($md)
					margin-left 0
			.w2.midright
				margin-left 40%
				+below($md)
					margin-left 0
			.w2.right
				margin-left 50%
				+below($md)
					margin-left 0
			.w3.center
				margin-left 12.5%
				+below($md)
					margin-left 0
			.w3.midright
				margin-left 25%
				+below($md)
					margin-left 0
			.w3.right
				margin-left 25%
				+below($md)
					margin-left 0
			.w1
				width 33%
			.w2
				width 50%
			.w3
				width 75%
			.w4
				width 100%
			.w1, .w2, .w3, .w4
				+below($md)
					width 100%

body.project-page
	#projects-overview .flickity-viewport
		vendor(filter, blur(5px))
	#content-container
		opacity 1
		visibility visible

body.loading
	cursor wait

body.project-page.loaded
	#content-container
		.inner
			opacity 1
		#project-content
			opacity 1

body.contact-page
	header
		height 'calc(100vh - %s)' % $logo
		nav#projects, #contact-link
			opacity 0
		#contact-container
			visibility visible
			opacity 1

body.home.hover-left
	#projects-overview #mouse-title::before
		content '\2039'

body.home.hover-center
	#projects-overview #mouse-title span
		display block

body.home.hover-right
	#projects-overview #mouse-title::before
		content '\203A'

body.contact-page
	header
		height 'calc(100vh - %s) !important' % $logo